{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div   class = "divCollection" >
    <div>
        <h1 class = "hola">Hola - Yo Soy Joaquin</h1>
        <p class = "text_Collection">
            A bit about me - I'm a naturally a curious and creative person who enjoys making ideas come to life. It is because of these facets I’ve become a jack of all trades and today have a desire to begin my journey to mastering a few. Today I’m in the process of transitioning careers looking to take on a data science or software engineering role. My hobbies include cooking, financial planning, exploring artificial intelligence, aerospace and cybersecurity. 
        </p>
    </div>
</div>

{% endblock %}