{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="divCollection">
    <h2>About</h2>
    <img class ="imgCollection" src="{{url_for('static', filename='bay.jpg')}}" />
    <div class = "textdiv_Collection">
        <h3 class = header_Collection>Hola - Yo Soy Joaquin</h3>
        <p class = "text_Collection">
            My background is in biomedical research with a deep knowledge of advanced imaging techniques and drug discovery. Today I’m in the process of transitioning careers looking to take on a data science or software engineering role. I have degrees in Applied Computer Science and  Molecular, Cellular and Developmental Biology. My hobbies include cooking, financial planning, exploring artificial intelligence, aerospace and cybersecurity. 
        </p>
    </div>
</div>

{% endblock %}