{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="intro">
<h1 class = "name">Joaquin Quintana</h1>
<h2 class = "info1">Researcher, data analyst, interested in software development and all things computers. Best known for making ideas come to life. </h2>
<img class = 'img1' src="{{url_for('static', filename='BinaryMan.png')}}" />

</div>

<div class="div1">
    <h2>About</h2>
    <img class ="img2" src="{{url_for('static', filename='bay.png')}}" />
    <div class = "textdiv1">
        <p>This is some text about me</p>
    </div>
</div>

<div class="div2">
    <h2>Skills</h2>
    <p>TProjects text to be</p>
</div>

<div class="div3">
    <h2>Projects</h2>
    <p>Project stuff</p>
</div>

<div class="div4">
    <img class ="img3" src="{{url_for('static', filename='StaphCellsBinaryMask.png')}}" />
    <h2>Publications</h2>
    <p>Project stuff</p>
</div>

{% endblock %}