{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="intro">
    <h1 class = "spanName"><span class="name">J</span><span class="name">o</span><span class="name">a</span><span class="name">q</span><span class="name">u</span><span class="name">i</span><span class="name">n</span> <span class="name">Q</span><span class="name">u</span><span class="name">i</span><span class="name">n</span><span class="name">t</span><span class="name">a</span><span class="name">n</span><span class="name">a</span>
    </h1>
<h2 class = "info1"> Data analyst and researcher who is interested in software development and most things computers. </h2>
<img class = 'img1' src="{{url_for('static', filename='BinaryMan.png')}}" />
</div>
{% endblock %}