{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div id = "publication" class="div4">
    <h2>Publications</h2>
    <main>
        <ol class="gradient-list">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Aenean tincidunt elit at ipsum cursus, vitae interdum nulla suscipit.</li>
          <li>Curabitur in orci vel risus facilisis accumsan.</li>
          <li>Morbi eleifend tortor lacinia sapien sagittis, quis pellentesque felis egestas.</li>
          <li>Aenean viverra dui quis leo lacinia fringilla.</li>
        </ol>
      </main>
</div>



{% endblock %}