{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div id = "publication" class="div4">
    <h2>Publications</h2>
    <main>
        <ol class="gradient-list">
          <li>
            <a href="https://journals.plos.org/plospathogens/article?id=10.1371/journal.ppat.1010606">A small molecule that disrupts S. Typhimurium membrane voltage without cell lysis reduces bacterial colonization of mice</a>
        </li>

          <li>
            <a href="https://journals.asm.org/doi/10.1128/mBio.01801-21">Staphylococcal Bacterial Persister Cells, Biofilms, and Intracellular Infection Are Disrupted by JD1, a Membrane-Damaging Small Molecule</a>

          </li>

          <li>
            <a href="https://journals.plos.org/plospathogens/article?id=10.1371/journal.ppat.1009119">A small molecule that mitigates bacterial infection disrupts Gram-negative cell membranes and is inhibited by cholesterol and neutral lipids</a>    
        </li>

          <li>
            <a href="https://pubs.acs.org/doi/10.1021/acsinfecdis.0c00023">Clofazimine Reduces the Survival of Salmonella enterica in Macrophages and Mice</a>
          </li>


          <li>
            <a href="https://journals.asm.org/doi/10.1128/AAC.01536-19?permanently=true">Autophagy Induction by a Small Molecule Inhibits Salmonella Survival in Macrophages and Mice</a>
          </li>

        </ol>
      </main>
</div>



{% endblock %}