{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div  class = "divCollection" >
        <h1 class = "hola">A few of my skills</h1>
        <p class = "text_Collection">
            My background is in biomedical research with a deep knowledge of advanced imaging techniques and drug discovery. I have degrees in Applied Computer Science and Molecular, Cellular and Developmental Biology. Prior to returning to school I was the microscopy specialist for the University of Colorado where I helped manage a facility which housed state of the art automated optical instruments. From my past position I became quite comfortable with Matlab and have developed a strong background in Python from my Applied Computer Science degree. For my day to day activities I primarily utilize Linux but have used MacOS and Microsoft OS for business purposes for the better part of the last decade.     
        </p>
        <div class = "listSkill">
            <p>What I’m currently developing skills in: </p>
            <li>Full stack development</li>
            <li> Flask, Django</li>
            <li>Raspberry Pi and OpenCV</li>
            <li>Graph Theory</li>
            <li>Encryption</li>
        </div>
    </div>


{% endblock %}